.plans {
    background-color: white;
    width: 50%;
    height: 50%;
}

.plans-button {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    padding-top: 15px;
}

h1 {
    color: black;
}

label {
    color: black;
}

select {
    background-color: white;
}

textarea {
    background-color: white;
}

input {
    background-color: white;
    color: black;
}

/* .plans-txt {
    color: black;
} */
